.vscode
.DS_Store
eez-studio/src
.history
eez-studio/waveshare-dashboard.eez-project-ui-state
esp-idf/components/ui
esp-idf/components/eez-framework
esp-idf/build/
esp-idf/managed_components/
esp-idf/sdkconfig
.venv
__pycache__
.claude

esp-idf/sdkconfig.old
esp-idf/sdkconfig.local
