.vscode
.DS_Store
eez-studio/src
.history
eez-studio/waveshare-dashboard.eez-project-ui-state
platformio/components/ui
platformio/components/eez-framework
platformio/build/
platformio/managed_components/
platformio/dependencies.lock
platformio/sdkconfig
platformio/sdkconfig.debug
platformio/sdkconfig.release
.venv
__pycache__
.claude

